# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# PyCharm
.idea/

# Jupyter
.ipynb_checkpoints/

# Model artifacts
models/*.pt
models/*.pkl

# OS files
.DS_Store
Thumbs.db
